# Template Nginx HTTPS LP Suite RC19
# Le reverse proxy reste le point d'entrée unique de la suite.

server {
    listen 80;
    server_name ${EXTERNAL_PUBLIC_DOMAIN};

    # Option : redirection HTTP -> HTTPS quand HTTPS_MODE != disabled.
    return 301 https://$host:9000$request_uri;
}

server {
    listen 443 ssl http2;
    server_name ${EXTERNAL_PUBLIC_DOMAIN};

    ssl_certificate     /etc/lp-suite/certs/fullchain.pem;
    ssl_certificate_key /etc/lp-suite/certs/privkey.pem;

    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    # LP Core racine
    location / {
        proxy_pass http://lp-core-app:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
    }

    # Exemple : module LP Display Manager sous chemin unique 9000/lpdisplaymanager
    location /lpdisplaymanager/ {
        proxy_pass http://lp-display-manager-app:8000/lpdisplaymanager/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
    }
}
